[Unit]
Description=MQTT bridge to MQTT 
After=network.target

[Service]
Type=simple
User={{ vx_user }}
ExecStart={{ vx_virtualenv }}/bin/python3 {{ vx_apps_dir }}/mqtt2out/mqtt2mqtt.py -c {{ vx_apps_dir }}/mqtt2out/mqtt2mqtt.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
